/*Minimal styling*/

body {
  font-family: sans-serif;
  margin: 20px;
}

.stat-btn.active {
  font-weight: bold;
}

#plot-error {
  color: red;
}

.stat-error {
  color: red;
}

.input-error {
  outline: 2px solid red;
}
